*{
    box-sizing:border-box;
    margin: 0;
    padding: 20px;
    font-family: "Inter", sans-serif;
    
}

body{
    min-height: 100vh;
}

section{
    min-height: inherit;
}


section #container{
    width: 1500px;
    height: 300px;
    margin: auto;
    min-height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

section .card {
    width: 51vh;
    height: 47vh;
}

section .card .profile{
    height: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
}

section .kaka_dhaba .profile{
 background-image: url('./assets/KAKA_DHABA.avif');
}

section .Burger_King .profile{
 background-image: url('./assets/BURGERKING.avif');
}

section .The_Postman_Club .profile{
    background-image: url('./assets/THEPOSTMANKITCHEN.avif');

}

section .Punjabi_Angithi_By_Vegorama .profile{
    background-image: url('./assets/PUNJABIANGITHIBYVEGORAMA.avif');

}

section .Dominos_Pizza .profile{
    background-image: url('./assets/DOMINOSPIZZA.avif');

}

section .Big_Wong .profile{
    background-image: url('./assets/BIGWONG.avif');

}



section .card .info{
    height: 35%;
    /* background-color: chartreuse; */
}

section .info h3{
    font-weight: 500;
    font-size: 41px;
    margin-block: 10px;
}

section p:first-of-type{
    color: rgb(105, 105, 105);
    padding: 19px 25px 6.4px;
    font-size: 33px;
}

section .kaka_dhaba :hover
{
    cursor: pointer;

}

section .Burger_King :hover
{
    cursor: pointer;
}

section .The_Postman_Club :hover
{
    cursor: pointer;
}

section .Punjabi_Angithi_By_Vegorama :hover
{
    cursor: pointer;
}

section .Dominos_Pizza :hover
{
    cursor: pointer;
}

section .Big_Wong :hover
{
    cursor: pointer;
}

/* 
section #container :hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
} */

section .card:hover {
            cursor: pointer;
            border: 2px solid rgb(232, 232, 232);
            box-shadow: rgba(28, 28, 28, 0.125) 0px 0.4rem 1.8rem;
            border-radius: 20px;
        }

button:hover{
    background-color: rgb(248, 248, 248);
    outline: 1px;
    border: 1px;
    cursor: pointer;
}

button{
    font-size: 18px;
}

/* #Filters{
    background-color: white;
    width: 200px;
    height: 90px;
    font-size: 36px;
    border-radius: 13px;
} */

select{
    background-color: whitesmoke;
    height: 72px;
    border-radius: 12px;
    font-size: 20px;
    width: 187px;
    color: rgb(156, 156, 156);
    align-items: center;
}

select :hover{
      background-color: rgb(248, 248, 248);
    outline: 1px;
    border: 1px;
    cursor: pointer;
}


h1{
    color: rgb(196, 24, 24);
    font-size: 5vh;
    font-style: italic;
}

#filter :hover{
    background-color: rgb(248, 248, 248);
    outline: 1px;
    border: 1px;
    cursor: pointer;

}
.options :hover{
        background-color: rgb(248, 248, 248) !important;
    outline: 1px !important;
    border: 1px !important;
    cursor: pointer!important;

}